@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model FaxVerification.Web.Pages.Configuration.IndexModel


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size="_8">
                <abp-card-title>Additional Fields</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="form-group col-md-12">
            <div class="d-md-flex  col-md-12" style="margin-bottom:2%">
                <label id="lbl_1" class="control-label col-md-2" style="margin-left:1%">Attributes</label>
                <label id="lbl_2" class="control-label col-md-3" style="margin-left:1%">Label Name</label>
                <label id="lbl_3" class="control-label col-md-2" style="margin-left:1%">RegExpression</label>
            </div>

            @{
                int i = 0;
                @foreach (var item in Model.Data.Fields)
                {
                    i = i + 1;
                    string Variable = "FieldName_" + i;
                    string VariableRegx = "Regex_" + i;
                    <div class="d-md-flex  col-md-12" style="margin-bottom:1%">
                        <label id="lbl_1" asp-for="@item.FieldName" class="control-label col-md-2">Attribute-@i</label>
                        <input asp-for="@item.FieldName" id="@Variable" class="form-control col-md-2" style="width:25%" />
                        <input asp-for="@item.RegExpression" id="@VariableRegx" class="form-control col-md-2" style="width:25%;margin-left:2%" />
                    </div>
                }
            }

            <div id="dynamicHtmlList">

            </div>

            <input type="hidden" value="@Model.Data.Fields.Count" id="FieldsCount" />

            @*<input asp-for="Data.FilePath" class="form-control" />
            <input asp-for="Data.Output" class="form-control" />
            <input asp-for="Data.Confidence" class="form-control" />
            <input asp-for="Data.InputPath" class="form-control" />
            <input asp-for="Data.OCRText" class="form-control" />
            <input asp-for="Data.OutputPath" class="form-control" />
            <input asp-for="Data.Id" class="form-control" />

            <input asp-for="Data.PersonDetails.AttributeCords_1" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_2" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_3" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_4" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_5" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_6" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_7" class="form-control" />
            <input asp-for="Data.PersonDetails.AttributeCords_8" class="form-control" />
            <input asp-for="Data.FormConfiguration" class="form-control" />*@
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-primary pull-right" style="float:right" id="addconfig">Add Configuration</button>
        </div>
    </abp-card-body>
    <abp-card-footer>
        <abp-button button-type="Default" text="Cancel"></abp-button>
        <abp-button button-type="Primary" id="saveConfig" text="Save"></abp-button>
    </abp-card-footer>
</abp-card>

@section scripts {
    <abp-script src="/Pages/Configuration/Index.js" />

     
}

@{
    var D = Model.Data;


}
